/*------------------------------------*\
  Global css
\*------------------------------------*/

/* === Global variables === */
:root {
	--background-color: rgb(239, 243, 245);
	--elevated-background-color: #ffffff;

	--text-color: #4e566d;
  --accent-color: #4341df;

  --border-color: #e3e8ee;

  --warning-color: yellow;
  --danger-color: tomato;
  --success-color: #06d19c;
}

/* === Default cascade === */
html {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.4;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}



.layout {
  position: relative;
  width: 100%;
  height: 100%;
}



.aside {
  width: 30%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  .menu {
    align-self: flex-end;
    position: sticky;
    top: 0;
    max-width: 20rem;
    margin: 6rem 0;
    h1 {
      font-size: 1.5rem;
      margin: 0;
    }
    nav {
      margin-bottom: auto;
      >ul {
        padding-left: 0;
      }
    }
    * {
      color: inherit;
    }
  }
}



.menu-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  position: relative;
  text-decoration: none;
  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
  &:hover {
    color: var(--accent-color);
    text-decoration: underline;
  }
  svg {
    width: 3rem;
  }
  &.invalid {
    color: var(--danger-color);
    svg {
      stroke: currentColor;
    }
  }
  &.loading {
    svg {
      color: var(--warning-color);
      stroke: currentColor;
    }
  }
  &.ready {
    svg {
      color: var(--success-color);
      stroke: currentColor;
    }
  }
  &.active {
    color: var(--accent-color);
    svg {
      color: var(--success-color);
      stroke: currentColor;
    }
  }
  b {
    margin-left: 0.5rem;
  }
}






.main-content {
  max-width: 768px;
  margin: 0 3rem 0 calc(30% + 3rem);
  padding: 6rem 0;
}

.box {
  padding: 3rem;
  background-color: var(--elevated-background-color);
  border-radius: 8px;
  box-shadow: rgba(8, 35, 51, 0.05) 0px 3px 6px;
}


pre code {
  padding: 1rem;
}

code {
  display: inline-block;
  background: var(--background-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
