/*------------------------------------*\
  Global css
\*------------------------------------*/

/* === Global variables === */
:root {
	--background-color: #ffffff;
	--alt-background-color: #f4f4f4;
	--text-color: #111;
  --accent-color: #4641FF;
  --border-color: #eee;
  --success-color: #06d19c;
  --danger-color: tomato;
}

/* === Default cascade === */
html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-display: swap;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}


.main-content {
  margin-left: 16rem;
  padding: 3rem;
}

.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16rem;
  padding: 1rem;
  background: var(--alt-background-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  h1 {
    font-size: 1.5rem;
  }
  nav {
    margin-bottom: auto;
    >ul {
      padding-left: 0;
    }
  }
  * {
    color: inherit;
  }
}


